@import "../../SCSS//Variables";
@import "../../SCSS/Mixins";

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  max-width: 768px;
  overflow: auto;
}

.columnContainer {
  display: flex;
  flex-direction: row;
}
.board {
  margin: 1rem 1rem;
  overflow: auto;

  @include Desktop() {
    margin: 1rem 120px;
    overflow: auto;
  }

  .boardHead {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: sticky;
    width: auto;
    color: rgb(11, 187, 143);
    position: sticky;
    width: auto;
    @include Desktop() {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      position: sticky;
      width: auto;
    }

    .Button {
      margin-bottom: 15px;
    }
  }
  .Card {
    margin-bottom: 15px;
    padding: 10px;
    width: 220px;
  }
  .icon {
    margin: 0 auto;
  }
  .button {
    margin: 15px 5px 0 0;
  }

  .cardTitle {
    font-size: 22px;
    letter-spacing: 1px;
  }
  .boardName {
    font-size: 26px;
    position: sticky;
  }
}
